:root {
    --primary-color: #004D73;
    --secondary-color: #346840;
    --accent1-color: #ff7b00;
    --accent2-color: #d4c6a8;
    --heading-font: "Old Standard TT", serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #f8f8f8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

header img {
    width: 120px;
    height: auto;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    margin-bottom: 1em;
}

nav,
section,
article {
    margin: 16px;
    padding: 8px;
}

article h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin-bottom: 20px;
}

article p {
    font-size: 1rem;
    color: #555;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 40px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero article {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: var(--accent2-color);
    font-family: var(--body-font);
    text-align: center;
    line-height: 1.6;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

main section {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

main section img {
    margin-bottom: 1em;
}

main section p {
    margin-bottom: 1em;
}

footer {
    padding: 20px;
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer p {
    margin-bottom: 0;
    text-align: center;
}


.socialmedia {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.socialmedia a:hover img {
    filter: brightness(1.2);
}